h1{
	color: #234A56;

	border: 1px solid #DBB13B;
}

li{
	color: #0099CC;
}

p{
	color: #8C8984;
}

body {
	background: url("https://www.publicdomainpictures.net/pictures/210000/velka/turquoise-corner-fading-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#divider {
	background: #DBB13B;
	color: #DDE7DC;
}

#profile_img{
	width:80%;
	height:auto;
}

.inner-content{
	box-sizing: content-box;
	margin:	0 auto;
	padding: 15px;
	width: 1060px;
	background-color: #DDE7DC;
}